div:nth-child(1){
    background-color:azure;
    padding:15px 0px 15px 0px;
}
a{
    background-color:aqua;
    padding:10px 3px 10px 3px;
    margin:0px 4px 0px 4px;
    border-radius:5px;
}
#myDiv{
    width:60%;
}
html{
    background:linear-gradient(#b6e3ff,white);
    background-attachment:fixed;
    overflow-x:hidden;
    font-family:sans-serif;
}
h2{
    font-size:3em;
}
li{
    list-style-position:inside;
}
table,div:not(div:nth-child(1)){
    margin-right:auto;
    margin-left:auto;
}
td,th,table{
    border:1px solid black;
    border-collapse:collapse;
}
th{
    background-color:rgba(127, 229, 255, 0.527);
    padding:4px;
}
body{
    margin:0;
    align-items:center;
    text-align:center;
}
body::after{
    content:"Copyright 2022 Xue Yu";
}

button {
    border-radius: 5px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    border:none;
    background:rgb(152, 255, 255);
}
button:hover {
    background-color: rgb(103, 170, 170);
}